<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
  </head>
  <body>
    <div class="modal" , id="modal">
      <div class="modal__board">
        <div class="modal__wrapper_1">
          <div class="modal__header">
            <h1>Регистрация</h1>
          </div>
          <form id="form_2">
            <label for="email_1">Введите ваш Email:</label>
            <input type="email" name="" id="email_1" placeholder="Email..." />
            <label for="pass_1">Введите пароль:</label>
            <input
              type="password"
              name=""
              id="pass_1"
              placeholder="Пароль..."
            />
            <label for="nickname">Имя:</label>
            <input type="text" name="" id="nickname" />
            <label for="birthday">Дата рождения</label>
            <input type="date" name="" id="birthday" id="birthday" />
            <p>Ваш пол:</p>
            <div class="gender">
              <input type="radio" name="gender" id="Male" checked />
              <label for="Male">мужчина</label>
            </div>
            <div class="gender">
              <input type="radio" name="gender" id="Female" />
              <label for="Female">женщина</label>
            </div>
            <div class="btn">
              <button type="submit" class="btn_1">Регистрация</button>
              <input type="reset" value="Сброс" class="btn_1" />
            </div>
          </form>
          <div class="href_2">
            <a href="./sign-in.html">У меня есть аккаунт</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
